<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="korablique.recipecalculator">

    <application>
        <activity
            android:name=".test.FakeTestActivity">
        </activity>

        <activity
            android:name=".test.CalcKeyboardTestActivity">
        </activity>
    </application>
</manifest>